body {
    background-color: #cccccc;
    color: #333333;
}

button {
  margin: 10px;
  background-color: #9aed9f;
  color: #4b634d;
}

ul {
  list-style-type: none;
}

.card {
  background-color: white;
  color: black;
  padding: 30px;
  border-radius: 50px;
}

<<<<<<< HEAD
.dialogue {
  color: #91d697;
}

.didIt {
  color: red;
  text-align: center;
}

.info {
  margin-top: 25px;
  background-color: #999999;
  border: 8px solid white;
  border-radius: 50px;
  color: white;
=======
.info {
  margin-top: 25px;
  background-color: #aaaaaa;
  border: 8px solid white;
  border-radius: 50px;
>>>>>>> 0de4d874d9b9004317701c7e9043252ac4c6902e
  text-align: justify;
  padding: 25px;
}

.jumbotron {
  margin-top: 25px;
<<<<<<< HEAD
  background-color: #999999;
=======
  background-color: #aaaaaa;
>>>>>>> 0de4d874d9b9004317701c7e9043252ac4c6902e
  border: 8px solid;
  border-radius: 50px;
  text-align: right;
  color: #eeeeee;
}

.results-card {
  border-radius: 50px;
}

.wobot {
  margin-bottom: 20px;
}

#backwards {
  float: right;
}

#resultsDiv {
  display: none;
<<<<<<< HEAD
  margin-bottom: 20px;
=======
>>>>>>> 0de4d874d9b9004317701c7e9043252ac4c6902e
}
